* {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.row {

    width: 100%;
    margin: 0;
}

body {

    background-image: url(/images/2.jpg) !important;
    background-size: cover;
    background-position: center;
}

div#main {

    color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    div.row {

        div.col-12 {

            div.dropdown {

                list-style: none;

                button.dropdown-toggle {

                    white-space: normal;
                    word-break: keep-all;
                }

                ul.dropdown-menu {

                    width: 176px;

                    li {

                        a.dropdown-item:hover {

                            color: #ffffff;
                            background-color: #dc3545;
                        }
                    }
                }
            }
        }
    }

    section.content {

        margin: auto;
    }
}

form {

    padding: 20px 35px;
    max-width: 100%;
    color: #ffffff;
    background-color: rgb(35 35 35 / 64%);
    border: 1px solid rgb(255 255 255 / 70%);
    -webkit-box-shadow: 0px 0px 40px 0 rgb(207 207 255 / 42%);
    box-shadow: 0px 0px 40px 0 rgb(207 207 255 / 42%);
    border-radius: 20px;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;

    table {

        font-size: 0.94rem;

        tr {

            td.col-2,
            td.col-10 {

                padding: 1rem 0;
            }
        }
    }

    .form-floating>.form-control:not(:-moz-placeholder-shown)~label::after {

        content: "*";
        font-size: 20px;
        margin-left: 5px;
        color: red;
    }

    .form-floating>.form-control:not(:-ms-input-placeholder)~label::after {

        content: "*";
        font-size: 20px;
        margin-left: 5px;
        color: red;
    }

    .form-floating>.form-control:not(:-moz-placeholder-shown):required~label::after {

        content: "*";
        font-size: 20px;
        margin-left: 5px;
        color: red;
    }

    .form-floating>.form-control:not(:-ms-input-placeholder):required~label::after {

        content: "*";
        font-size: 20px;
        margin-left: 5px;
        color: red;
    }

    .form-floating>.form-control-plaintext:required~label::after,
    .form-floating>.form-control:focus:required~label::after,
    .form-floating>.form-control:not(:placeholder-shown):required~label::after,
    .form-floating>.form-select:required~label::after {

        content: "*";
        font-size: 20px;
        margin-left: 5px;
        color: red;
    }

    h1 {

        text-align: center;
        font-weight: 400;
    }

    input.form-control,
    select.form-control {

        color: #ffffff;
        border-radius: 0;
        background: transparent !important;
        border: 1px solid #ffffff;
        padding: 0.32rem 0.75rem;
    }

    option {

        color: black;
        background-color: white;
    }

    input.form-control:focus,
    select.form-control:focus {

        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #ffffff;
    }

    // Add Red color to bottom border, when the field contains Invalid data...
    input.form-control:invalid:focus,
    select.form-control:invalid:focus {

        border: 1px solid rgb(255, 0, 0);
    }

    input.form-control:not(:invalid) {

        border: 1px solid initial;
    }

    button#show_hide {

        width: 45px;
    }

    button#show_hide:hover {

        background-color: rgb(255 255 255 / 4%);
    }

    input.form-check-input[type=checkbox] {

        border-radius: 0;
        border: 1px solid rgba(0, 43, 198, 0.21) !important;
    }

    p {

        font-weight: 500;
    }

    label {

        border: 1px solid;
        padding: 0.37rem 0.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    label.fw {

        font-weight: 500;
    }

    >label::-moz-selection {

        background-color: transparent;
    }

    >label::selection {

        background-color: transparent;
    }

    >label:hover {

        cursor: pointer;
    }

    button {

        font-weight: 500;
    }
}

form:hover {

    -webkit-box-shadow: 0px 0px 60px 30px rgb(209 212 255 / 21%);
    box-shadow: 0px 0px 60px 30px rgb(209 212 255 / 21%);
}